# Gradebook

Create a list called "subjects" and fill it with the classes you are taking subjects.

In [1]:
subjects = ['Database Systems II', 'Intermediate Python Programming', 'Business Intelligence', 
            'Data Visualization']

Create a list called "grades" and fill it with your scores.

In [2]:
grades = [98, 97, 85, 88]

Create a two-dimensional list to combine "subjects" and "grades".

In [3]:
gradebook = [
  ['Database Systems II', 98],
  ['Intermediate Python Programming', 97],
  ['Business Intelligence', 85],
  ['Data Visualization', 88]
]

print(gradebook)

[['Database Systems II', 98], ['Intermediate Python Programming', 97], ['Business Intelligence', 85], ['Data Visualization', 88]]

Use the .append() method to add a list with the values of "Computer Science Fundamentals" and an associated grade value of 100 to our two-dimensional list of gradebook.

In [4]:
gradebook.append(['Computer Science Fundamentals', 100])

print(gradebook)

[['Database Systems II', 98], ['Intermediate Python Programming', 97], ['Business Intelligence', 85], ['Data Visualization', 88], ['Computer Science Fundamentals', 100]]

Access the index of the grade for your Business Intelligence class and modify it to be 5 points greater.

In [5]:
gradebook[2][1] = 97

Find the grade value in your gradebook for your Data Visualization class and use the .remove() method to delete it.

In [8]:
gradebook[3].remove(85)

print(gradebook)

[['Database Systems II', 98], ['Intermediate Python Programming', 97], ['Business Intelligence', 97], ['Data Visualization'], ['Computer Science Fundamentals', 100]]

Use the .append() method to then add a new "Pass" value to the sublist where your Business Intelligence class is located.

In [10]:
gradebook[3].append('Pass')

print(gradebook)

[['Database Systems II', 98], ['Intermediate Python Programming', 97], ['Business Intelligence', 97], ['Data Visualization', 'Pass', 'Pass'], ['Computer Science Fundamentals', 100]]

Create a new variable "full_gradebook" that combines both "last_semester_gradebook" and "gradebook" using + to have one complete grade book. <br>
Print full_gradebook to see our completed list.

In [14]:
last_semester_gradebook = ['Data Engineering Fundamentals', 95]

In [15]:
full_gradebook = gradebook + last_semester_gradebook

In [18]:
print(full_gradebook)

[['Business Intelligence', 97], ['Computer Science Fundamentals', 100], ['Data Visualization', 'Pass', 'Pass'], ['Database Systems II', 98], ['Intermediate Python Programming', 97], 'Data Engineering Fundamentals', 95]