### Introduction to Tuples

Tuples are:
1. Immutable, meaning that once a tuple is created, it cannot be modified. A list can be modified.
2. Use parenthesis instead of square brackets. A list uses square brackets.
3. The order of the data matters.

Important:
- You use tuples when data is not similar and needs to be grouped together. 
- The order of the data matters since once the tuple is created, you cannot insert or remove(pop) elements.
- You use lists when data is similar and needs to be grouped together. Since the information is dynamic, you are able to insert and remove elements.

In [36]:
my_info = ('Ren', 23, 'Data Architect')

In [37]:
print(my_info[0])
print(my_info[1])
print(my_info[-1])

Ren
23
Data Architect

When running the code below, there is a TypeError because you cannot assign a new item to the existing item.

In [38]:
my_info[1] = 12

TypeError: 'tuple' object does not support item assignment

### Unpacking a Tuple

How to unpack a tuple.

In [39]:
name, age, occupation = my_info

If a number of variables on the left are assigned to an equal number of variables on the right (inside of the tuple), you can unpack a tuple.

In [40]:
print(name)
print(age)
print(occupation)

Ren
23
Data Architect

How to create a one element tuple.

In [41]:
one_element_tuple = (4,)
print(one_element_tuple)

(4,)

How not to create a one element tuple.
<br>
<br>
Note: You cannot have only parenthesis because you can surround expressions in them (think of PEMDAS). A trailing comma (as shown above) is needed to create a one element tuple.

In [42]:
not_one_element_tuple = (4)
print(not_one_element_tuple)

4